.field {
  margin-bottom: 15px;
}

.field-button {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  color: #8e8e93;
  cursor: pointer;
  font-size: 1rem;
  height: 48px;
  outline: none;
  padding: 0 17px 0 50px;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.field-button:hover,
.active > .field-button {
  border: solid 1px #f5a623;
}

.active > .field-button {
  border-radius: 4px 4px 0 0;
}

.field-button:focus {
  outline: none;
}

.field-bitton-icon {
  left: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.field-options {
  background-color: #ffffff;
  border: solid 1px #f5a623;
  display: none;
  left: 0;
  padding: 18px 16px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 2;
}

.active > .field-options {
  display: block;
}

.field-options-container {
  max-height: 450px;
  overflow-y: auto;
}
