.how-to {
  padding: 50px 0 68px 0;
}

.how-to-content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 22% 22% 22%;
  grid-column-gap: 17%;
  text-align: center;
}

.how-item-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.how-item-description {
  color: #8e8e93;
  font-size: 0.875rem;
  line-height: 1.42;
}

.how-item-avatar {
  border-radius: 5px;
  margin: 0 auto 25px auto;
  text-align: center;
  width: auto;
}
